<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EVENT_HUB_NAMESPACE" value="[NAMESPACE].servicebus.windows.net:9093"/>
    <add key="EVENT_HUB_CONNECTION_STRING" value="Endpoint=sb://[NAMESPACE].servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[SHARED_ACCESS_KEY]"/>
    <add key="EVENT_HUB_NAME" value="[EVENT_HUB_NAME]"/>
    <add key="CA_CERTIFICATION_LOCATION" value=".\..\..\..\cacert.pem"/>
    <add key="DATA_FILE_LOCATION" value="..\..\..\data\yellow_tripdata_2019-03.csv"/>
  </appSettings>
</configuration>